{% extends "master_nav_footer.html" %}
{% block content1 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-commerce</title>
    <link
      rel="stylesheet"
      45
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href={%static "css/ecom.css"%}/>
  </head> 
  <body>
    <!--======================Carousel Section======================-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="Img/151.jpg" alt="First Slide" />
        </div>
        <div class="carousel-item">
          <img src="Img/6068656.jpg" alt="Second Slide" />
        </div>
        <div class="carousel-item">
          <img src="Img/3671942.jpg" alt="Third Slide" />
        </div>
      </div>

      <a
        class="carousel-control-prev"
        href="#myCarousel"
        role="button"
        data-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a
        class="carousel-control-next"
        href="#myCarousel"
        role="button"
        data-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!--======================Collection Section======================-->
    <section class="container">
      <div class="mt-3">
        <div class="row justify-content-center">
        {% if pro %}
          {% for i in pro  %}
          <div class="col-lg-3 col-md-6 p-0">    <!-- First Colum-->
            <div class="card p-1 border-0 scale-style">
              <a href={% url "pro_details" i.id %}>
                <img
                  class="card-img-top img-hover"
                  src="{{i.image.url}}"
                  alt="Card image cap"
                  style="height: 300px"/>
              </a>
              <div class="card-body text-center">
                <p class="card-text text-center">{{i.name}}</p>
                <p class="card-text text-center">{{i.discription}}</p>
                <!--<a href="{% url 'pro_details' i.id %}" class="btn btn-warning w-100 mt-2 fw-semibold">
                View Details
                </a>-->
                 {% if i.stock <= 0 %}

                  <h3> Currently out of stock...</h3>
                
                {% else %}
                <a href={% url "checkout_cart" %}>
                  <button type="button" class="btn btn-outline-success mt-2">
                    Buy Now
                  </button>
                </a>
                <a href={% url "cart_view" %}>
                  <button type="button" class="btn btn-outline-success mt-2">
                    Add To Cart
                  </button>
                </a> 

                {% endif %}
                
              </div>
            </div>
          </div>

        {% endfor %}
        {% else %}
        <p> We will add the product soon... </p>
        {% endif %}
        </div>

      </div>
    </section>

  </body>
</html>



{% endblock content1 %}


{% block content2 %}
    
    <!--======================Service Section======================-->
    <section class="container-fluid py-2">
      <div class="container">
        <div class="row">
          <div
            class="col-4 d-flex justify-content-center align-items-center p-4"
          >
            <i class="fa-solid fa-truck-fast fa-2x mr-3"></i>
            <p class="text-left p-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
            </p>
          </div>
          <div
            class="col-4 d-flex justify-content-center align-items-center p-4"
          >
            <i class="fa fa-plane-circle-check fa-2x mr-3"></i>
            <p class="text-left p-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
            </p>
          </div>
          <div
            class="col-4 d-flex justify-content-center align-items-center p-4"
          >
            <i class="fa fa-handshake fa-2x mr-3"></i>
            <p class="text-left p-0">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
            </p>
          </div>
        </div>
      </div>
    </section>  

{% endblock content2 %} 