{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="Login">

<head>
    <title>Minimal login form Responsive Widget Template : W3Layouts</title>

    <!-- Meta tags 
        -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- CSS Stylesheet 
        -->
    <link rel="stylesheet" href={% static "CSS/reg.css" %} type="text/css" media="all" />
   
    {% if not_registered %}
    <script>
    alert('{{not_registered}}')
    </script>
    {% endif %}
    
</head>

<body>
    <div class="w3l-loginblock signinform">
        <div class="logo">
            <a class="brand-logo"  href="">Minimal login form</a>
        </div>
        <!-- main content -->
            <div class="row map-content-9">
                <div class="info-grids">
                    <form  method="post">
                        {% csrf_token %}
                        <div class="form-grid">
                            <div class="input-field">
                                <label>Email</label>
                                <input type="email" name="email" id="email" placeholder="Email" required="" >
                            </div>
                           <div class="input-field">
                                <label>Password</label>
                                <input type="password" name="password" id="Password" placeholder="Password"  required="">
                            </div>
                        </div>
                        {% if wrong_pass %}
                        <div class="alert alert-danger" role="alert">
                        {{wrong_pass}}
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-style" > Login Now </button>
                    </form>
                </div>
               
        <!-- //main content -->
        <!-- footer -->
        <!-- footer -->
    </div>

    <!-- fontawesome v5-->
    <script src=fontawesome.js></script>

</body>

</html>