{% extends "master_nav_footer.html" %}
{% load static %}
{% block content1 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=\, initial-scale=1.0">
        <title>Document</title>
        <link
            rel="stylesheet"
            45
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href={%static "css/ecom.css"%}>
    </head>
    <body>
        <!--========================== Navbar ==========================-->
    
        <!--======================= Main Section ========================-->
        <div class="container my-5">
        <div class="row mt-4 mr-auto ml-auto">
            <div class="col-lg-4">
                <img 
                    src="{{product.image.url}}"
                    alt="Products Images"
                    class="img-fluld"
                    height="400px"
                    width="350px"
                />
            </div>
            <div class="col-lg-6 mr-auto ml-automt-5">
                <h1>{{product.name}}</h1>
                <p><strong>Price:</strong> ${{product.price}}</p>
                <p>
                    {{product.discription}} 
                </p>

                <form action="" method="post">
                    {% csrf_token %}
                    <input type="number" name="qty" value="1" max="" min="1" class="form-control mb-2" style="width: 80px;">

                    <div class="mb-2">
                        <i class="fa-solid fa-star ratingcolor"></i>
                        <i class="fa-solid fa-star ratingcolor"></i>
                        <i class="fa-solid fa-star ratingcolor"></i>
                        <i class="fa-regular fa-star-half-stroke ratingcolor"></i>
                        <i class="fa-regular fa-star ratingcolor"></i>
                    </div>
                    <br/>
                    {% if less_stock %}
                        <p style="color: red;">Only {{product.stock}} unit avaialble.</p>
                    {% endif %}
                    {% if products.stock is 0 %}
                        <p style="color: red;"> Products is out of stock </p>
                    {% else %}
                    <a href=>                    
                    <button type="submit" class="btn btn-outline-primary mt-3" name="buy">Buy now</button>
                    </a>
                    <a href=>
                    <button type="submit" class="btn btn-outline-primary mt-3" name="cart">Add to Cart</button>
                    </a>
                    {% endif %}

                </form>
            </div>
            </div>
        </div>
    </body>
</html>

{% endblock content1 %}