{% extends "master_nav_footer.html" %}
{% block content1 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=\", initial-scale="1.0">
        <title>Profile</title>
        <link
            rel="stylesheet"
            45
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href={% static "CSS/prof.css" %}>
</head>
<body>
    <div class="page-content page-content" id="page-content">  
        <div class="padding">
            <div class="row contafiner d-flex justify-content-center">
    <div class="col-xl-6 col-md-12">
        <div class="card user-card-full">
            <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-c-lite-green user-profile">
                    <div class="card-block text-center text-white">
                        <div class="m-b-24">
                            <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="img-radius" alt="Profile-Image">
                                </div>
                                <h6 class="f-w-600">{{logged_user.name}}</h6>
                                    <p>Web Designer</p>
                                        <i class="mdi mdi--square-edit-outline feature icon-edit m-t-10 f-16"></i>
                                            </div>
                                        </div>  
                                <div class="card-block">
                                <h5 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{logged_user.email}}</h>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400">{{logged_user.mob}}</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Projects</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-400">Address</p>
                                        <h6 class="text-muted f-w-400">{{logged_user.add}}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-400">Most Viewed</p>
                                        <h6 class="text-muted f-w-400">Dinoter husainm</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <form action="" method="post">
                                            <a href=><input type="button" value="Update"></a>
                                        </form>
                                    </div>
                                </div>
                                <ul class="social-link list-unstyled m-t-40 m-b-10">
                                    <li><a href="#!" class="fab fa-instagram" data-toggle="tooltip" data-placement="bottom" title="data-original"></a></li>
                                    <li><a href="#!" class="fab fa-twitter" data-toggle="tooltip" data-placement="bottom" title="data-original"></a></li>
                                    <li><a href="#!" class="fab fa-facebook" data-toggle="tooltip" data-placement="bottom" title="data-original"></a></li>
                                </ul> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>       
                                            </div>
                                        </div>
                                    </div>
</body>
</html>


{% endblock content1 %}
